@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&display=swap');

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home {
    height: 200px;
    width: 100%;
}

.headerbg {
    background-image: url(../img/mikulas-2021.jpg);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerh1{
    font-family: 'Manrope', sans-serif;
    color: #1c1c1c;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #ff4538;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.navbtna, .navbtnacollapse {
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbtnacollapse {
 width: 100%;
}

.navbtn, .navbtncollapse {
    height: 100%;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    background-color: transparent;
    border: none;
    padding: 12px 8px;
    font-size: medium;
    color: #1c1c1c;
}

.navbtncollapse {
    width: 100%;
}

.colapsespacer {
    width: 100%;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.collapse {
    width: 46px;
    height: 46px;
    padding: 12px 8px;
    border: none;
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    font-size: medium;
    font-weight: 400;
    background-image: url(../svg/menu_FILL0_wght200_GRAD0_opsz24.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    transition: .2s ease-in-out;
}

.collapsednavitems {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 0px;
    transition: .5s ease;
}

.collapse.active {
    background-image: url(../svg/close_FILL0_wght200_GRAD0_opsz24.svg);
}

.collapsednavitems.active {
    height: 276px;
    transition: .5s ease;
}

.collapse:hover {
    background-color: #ff675c ;
}

.navbtn:hover, .navbtncollapse:hover {
    background-color: #ff675c;
    transition: .2s ease-in-out;
}

main{
    width: 80%;
}

/* large view */

.lg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.sec1lg, .sec2lg, .sec3lg, .sec4lg {
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
}

.sec1h1lg, .sec2h1lg, .sec3h1lg, .sec4h1lg {
    font-family: 'Manrope', sans-serif;
    color: #1c1c1c;
}

.sec1txtlg, .sec2txtlg, .sec3txtlg, .sec4txtlg {
    font-family: 'Manrope', sans-serif;
    font-size: medium;
    color: #1c1c1c;
}

.img1lg, .img2lg, .img3lg, .img4lg {
    width: 100%;
    border-radius: 5px;
}

/* medium view 1500px */

.med {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.row1med {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec1med, .sec2med, .sec3med {
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
    display: none;
}

.sec4med {
    display: none;
}

.row2inmed {
    display: flex;
    justify-content: space-around;
}

.sec1h1med, .sec2h1med, .sec3h1med, .sec4h1med {
    font-family: 'Manrope', sans-serif;
    color: #1c1c1c;
}

.sec1txtmed, .sec2txtmed, .sec3txtmed, .sec4txtmed {
    font-family: 'Manrope', sans-serif;
    color: #1c1c1c;
    font-size: medium;
}

.sec4txtmed {
    margin-left: 20px;
}

.img1med, .img2med, .img3med {
    width: 100%;
    border-radius: 5px;
}

.sec4imgmed {
    width: 100%;
}

.img4med {
    width: 100%;
    border-radius: 5px;
}

@media (max-width:1500px) {
    .sec1med, .sec2med, .sec3med, .sec4med {
        display: block;
    }

    .sec1lg, .sec2lg, .sec3lg, .sec4lg {
        display: none;
    }
}

@media (min-width:1041px) {
    .sec1, .sec2, .sec3 {
        width: 25%;
    }
}

@media (max-width:1040px) {
    .navbtna {
        display: none;
    }
    
    .colapsespacer {
        display: flex;
    }

    .collapsednavitems {
        display: flex;
    }
}