@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&display=swap');

* {
    outline: 1px solid red;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #ff4538;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.navbtna, .navbtnacollapse {
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbtnacollapse {
 width: 100%;
}

.navbtn, .navbtncollapse {
    height: 100%;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    background-color: transparent;
    border: none;
    padding: 12px 8px;
    font-size: medium;
    color: #1c1c1c;
}

.navbtncollapse {
    width: 100%;
}

.colapsespacer {
    width: 100%;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.collapse {
    width: 46px;
    height: 46px;
    padding: 12px 8px;
    border: none;
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    font-size: medium;
    font-weight: 400;
    background-image: url(../svg/menu_FILL0_wght200_GRAD0_opsz24.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    transition: .2s ease-in-out;
}

.collapsednavitems {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 0px;
    transition: .5s ease;
}

.collapse.active {
    background-image: url(../svg/close_FILL0_wght200_GRAD0_opsz24.svg);
}

.collapsednavitems.active {
    height: 276px;
    transition: .5s ease;
}

.collapse:hover {
    background-color: #ff675c ;
}

.navbtn:hover, .navbtncollapse:hover {
    background-color: #ff675c;
    transition: .2s ease-in-out;
}

.home {
    height: 200px;
    width: 100%;
}

.headerbg {
    background-image: url(../img/mikulas-2021.jpg);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerh1{
    font-family: 'Manrope', sans-serif;
    color: #1c1c1c;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.maincontent {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mikulasrolheader {
    width: 100%;
}

.mikulasrolh1 {
    color: #1c1c1c;
    font-family: 'Manrope', sans-serif;
}

.mikulasroltxt {
    font-size: larger;
    font-family: 'Manrope', sans-serif;
}

.sec1 {
    width:250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    margin: 20px 0px;
}

.sec1h1 {
    font-family: 'Manrope', sans-serif;
    color: #1c1c1c;
}

.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.Img1 {
    width: 100%;
}

.sec1txt {
    margin: 10px 0px 0px 0px;
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    color: #1c1c1c;
}

.sec2 {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    margin: 20px 0px;
}

.sec2h1 {
    font-family: 'Manrope', sans-serif;
    color: #1c1c1c;
}

.img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.Img2 {
    width: 100%;
}

.sec2txt {
    margin: 10px 0px 0px 0px;
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    color: #1c1c1c;
}

.sec3 {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    margin: 20px 0px;
}

.sec3h1 {
    font-family: 'Manrope', sans-serif;
    color: #1c1c1c;
}

.img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.Img3 {
    width: 100%;
}

.sec3txt {
    margin: 10px 0px 0px 0px;
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    color: #1c1c1c;
}

.sec4 {
    width: 100%;
}

.sec4h1 {
    font-family: 'Manrope',sans-serif;
    color: #1c1c1c;
}

.sec4txt {
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    color: #1c1c1c;
}

@media (min-width:1041px) {
    .sec1, .sec2, .sec3 {
        width: 25%;
    }
}

@media (max-width:1040px) {
    .navbtna {
        display: none;
    }
    
    .colapsespacer {
        display: flex;
    }

    .collapsednavitems {
        display: flex;
    }
}